.volunteers-list-sidebar {
  width: 20vw;
}

.letter-category {
  width: 50%;
  padding-top: 1vh;
}

#volunteers-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 100%;
  z-index: 100;
}

#problem-loading-info {
  position: relative;
  margin-top: 5vh;
}

#faded {
  opacity: 50%;
}
