.react-pdf__Document:hover .page-controls {
  opacity: 1;
}
.page-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 75%; */
  background: white;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 4px;
}

.page-controls button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
}

.page-controls span {
  font: inherit;
  font-size: 0.8em;
  padding: 0 0.5em;
}
