@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --main-primary-color: #4884f8;
  --main-black: #232624;
  --main-black-500: #393939;
  --main-black-400: #6d6d6d;
  --main-black-300: #9a9a9a;
  --main-black-200: #f2f2f2;
  --main-black-100: #fbfbfb;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: var(--main-black);
  background-color: #fbfbfb !important;
}

.primary {
  color: var(--main-primary-color);
}

.black-500 {
  color: var(--main-black-500);
}
.black-500-bg {
  background-color: var(--main-black-500);
}

.black-400 {
  color: var(--main-black-400);
}

.black-400-bg {
  background-color: var(--main-black-400);
}

.black-300 {
  color: var(--main-black-300);
}

.black-300-bg {
  background-color: var(--main-black-300);
}

.black-200 {
  color: var(--main-black-200);
}

.black-200-bg {
  background-color: var(--main-black-200);
}

.small-image {
  height: 63px;
  width: 63px;
}

.large-image {
  height: 136px;
  width: 136px;
}

.p1 {
  font-size: 40px;
}

.p2 {
  font-size: 32px;
}

.p3 {
  font-size: 24px;
}

.p4 {
  font-size: 18px;
}

.p5 {
  font-size: 16px;
}

.p6 {
  font-size: 14px;
}
.p7 {
  font-size: 12px;
}

@media (min-width: 768px) {
  .p1 {
    font-size: 48px;
  }

  .p2 {
    font-size: 36px;
  }

  .p3 {
    font-size: 24px;
  }

  .p4 {
    font-size: 18px;
  }

  .p5 {
    font-size: 16px;
  }

  .p6 {
    font-size: 14px;
  }
}
